/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('path/to/download.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  position: relative;
  font-size: 18px;
}


.logo {
  position: absolute;
  top: 15px;
  left: 45%;
  transform: translateX(-50%);
  max-width: 70px;
  height: auto;
  border-radius: 50%;
}

.container {
  max-width: 600px;
  margin: 180px auto 90px auto;
  background: linear-gradient(45deg, #FF5E7E, #D400FF);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #fff;
}

.form-group {
  margin-bottom: 40px;
}

label {
  display: block;
  font-size: 22px;
  color: #fff;
  margin-bottom: 16px;
}

input {
  width: calc(100% - 24px);
  padding: 20px;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 14px;
  transition: border-color 0.3s ease-in-out;
  background-color: #f8f8f8;
  color: #333;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 20px 26px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.link a {
  font-size: 20px;
}
